/ejercicio2/nbproject/private/
/ejercicio2/build/
/ejercicio4/nbproject/private/
/ejercicio4/build/
/ejercicioextra1/nbproject/private/
/ejercicioextra1/build/
/ejercicioextra2/nbproject/private/
/ejercicioextra2/build/
/ejercicioextra3/nbproject/private/